div.logo{
	margin:5px;
	position:static;
	height:120px;
	background-image:url(logo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	
}

div.menu{
	position:relative;
}

div.list{
	padding:30px;
	margin-left:100px;
}

div.order{
	border-style:outset;
	height:200px;
	width:500px;
	padding:20px;
	margin-left:470px;
}
.line{
	background-color:black;
	padding:20px;
}

